table {
    color : #EEE5E9;
    background-color: #6B818C;

    float: right;
    margin-top: 35px;
    width: 100%;
    
}



th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
    
    

.header {

    padding: 10px 16px;
    background: #6B818C;
    color: #EEE5E9;
    
  
}



html, body, header {
    margin: 0;
    padding: 0;
}


button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #6B818C;
    border: none;
    border-radius: 10px;
  }
  
  button:hover {background-color: green}
  
  button:active {
    background-color: #EEE5E9;

    transform: translateY(4px);
  }

  
