<div class="header">
  <h2>Strømpriser i Oslo / Øst-Norge</h2>
</div>

<div *ngIf="strompriser" class="content">
  <mat-form-field>
    <input class="test" matInput [matDatepicker]="datepicker" placeholder="Choose a date" [(ngModel)]="selectedDate">
    <mat-datepicker-toggle class="test2" matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>
  <button class="button-31" mat-raised-button color="primary" (click)="getStrompriser()">Hent pris</button>
  <table>
    <thead>
      <tr>
        <th>Time</th>
        <th>Pris (NOK/kWh)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pris of strompriser; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ pris.NOK_per_kWh }}</td>
      </tr>
    </tbody>
  </table>
</div>